@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Rubik+Distressed&family=Stardos+Stencil:wght@400;700&display=swap');

body  {
    background-color: #455F39;
}
h1 {
    background-color: #CAC4B6;
    font-family: "Rubik Distressed", system-ui;
  font-weight: 600;
  font-style: normal;
}
p {
    color: #101110;
     font-family: "Rancho", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5em;
}

#inicio {
    color: #ffffff;
}
#historia {
    background-color: #95B49C;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    border:#ffffff solid 3px;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.5em;
}

#final {
    height: 10vh;
}
.imagen {
    width: auto;
  height: 90%;
    border-radius: 10px;
}

.escena {
  height: 60vh;
  margin: 15px;
}
.escena:hover {
    height: 120%;
}

